<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Packr</title>
        <base href="/">
        <link rel="stylesheet" href="static/public/app-bundle-styles.css">
        <link rel="stylesheet" href="static/public/libs-bundle-styles.css">
        <script src="static/public/libs-bundle.js"></script>
        <script src="static/public/app-bundle.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body ng-app="App" ng-cloak>
        <section layout="row">
            <sidenav></sidenav>
            <div layout="column" flex>
                <navbar></navbar>
                <div ng-view ng-cloak flex layout="column"></div>
                <footer></footer>
            </div>
        </section>
    </body>
</html>
