<md-content layout-padding>
    <div flex-xs layout="column">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">On The Spot</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Bill Wiley</span>
                    <span class="md-subhead">Owner/Operator</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    On the Spot is a privately owned and listed company that focuses on on providing the most accurate and secure courier and delivery experience.
                </p>
                <p>
                    Originally founded by Bill Wiley, On the Spot has become the product of Bills years of experience from working in large international courier and shipping service companies.
                </p>
                <p>
                    What sets us apart from our competitors is our utilisation of technology to provide quality customer experiences and transparency in our company in regards to your deliveries.
                </p>
                <p>
                    Through the use of state of the art technology, On the Spot provides its services to locations all around Australia.
                </p>
                <p>
                    With technology such as GPS tracking and specifically designed internal information systems, On the Spot is able to provide a secure and accurate delivery service.
                    Our GPS tracking system enables us to provide you with live updates on the location and status of your packages.
                    In addition to this our tailor made information system allows our company to run more efficiently and productively than our competitors resulting in a highly accurate service.
                </p>
                <p>
                    Our aim is to provide accuracy and an exception customer experience in relation to domestic courier services.
                </p>
            </md-card-content>
        </md-card>
    </div>
</md-content>