<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About: On The Spot</title>
        <base href="/">
        <link rel="stylesheet" href="static/public/app-bundle-styles.css">
        <link rel="stylesheet" href="static/public/libs-bundle-styles.css">
        <script src="static/public/libs-bundle.js"></script>
        <script src="static/public/app-bundle.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
		<h2>On The Spot</h2>
		</br>
		<h3>Bill Wiley</h3>
		<h4>Owner/Operator</h4>
		</br>
		<p>Starting out with a single van Bill used his experience 
		from the logistics industry to create and build a courier business. 
		He now operates with two vans and a warehouse, providing a professional and 
		friendly service to clients from the Sunshine Coast to the Gold Coast. 
		Blah blah blah, omg such a good service, and Bill is just the best courier driver there is :D</p>
		</br>
		<h4>Services</h4>
		<a href="">Make a Booking</a>
		<a href="">Track a Parcel</a>
		<a href="">Locations</a>
		<a href="">Insurance</a>
		<a href="">Dangerous Goods</a>
		</br>
		<h4>About</h4>
		<a href="">Privacy Policy</a>
		<a href="">Terms and Conditions</a>
		<a href="">FAQ's</a>
		<a href="">Site Map</a>
		<a href="">Contact Us</a>
    </body>
</html>
