<md-content layout-padding>
    <div flex-xs layout="column">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">On The Spot</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Bill Wiley</span>
                    <span class="md-subhead">Owner/Operator</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Starting out with a single van Bill used his experience
                from the logistics industry to create and build a courier business.
                He now operates with two vans and a warehouse, providing a professional and
                friendly service to clients from the Sunshine Coast to the Gold Coast.
                Blah blah blah, omg such a good service, and Bill is just the best courier driver there is.
                </p>
                <p>More stuff about how good either Bill or his provided service is, blah blah blah. Bill can get
                a delivery done in less that 10 minutes, if the delivery is next door to the pickup.
                Bill is like the superman of delivery guys, superfast, can jump over tall 'ish boxes ion a single bound
                (unless he's been drinking the night before). Honestly I don't know how he gets away with drinking
                into the early hours of the day and then going straight to work...
                </p>
                <p>And now he has his own warehouse where he can store anything, like drugs, or shipments of slaves.
                With those few delivery vans all he has to do is pay the drivers enough to keep their mouths shut. And
                if they get out of line, well, their only a delivery driver, plenty more where they came from.
                On the plus side you wont have to fire them, just knock em' out and sell em on to the slavers, more profit
                for Bill :D
                </p>
            </md-card-content>
        </md-card>
    </div>
</md-content>