<!-- Access to this page only for logged in employees -->
<md-content layout-padding>
    <div layout="row" layout-align="center">
	    <h2>Update Consignment</h2>
    </div>

	<form flex name="$ctrl.searchForm" ng-submit="search()">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Consignment Number</label>
                <input name="number" ng-model="con_number" required>
            </md-input-container>
            <md-button class="md-raised" type="submit">Search</md-button>
        </div>
    </form>

    <form flex name="$ctrl.statusForm" ng-submit="submitStatus()" ng-if="found">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Booking Status</label>
                <md-select name="type" ng-model="status.status" required>
                    <md-option value="booked">Booked</md-option>
                    <md-option value="picked_up">Picked Up</md-option>
                    <md-option value="wh_in">Warehouse (Scanned In)</md-option>
                    <md-option value="wh_stored">Warehouse (Storage)</md-option>
                    <md-option value="wh_out">Warehouse (Scanned Out)</md-option>
                    <md-option value="delivered">Delivered</md-option>
                </md-select>
            </md-input-container>
        </div>
    </form>

    <form flex name="$ctrl.driverForm" ng-submit="submit()" ng-if="found">
         <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
		        <input type="text" ng-model="driver.driver" name="driver">
            </md-input-container>
         </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Service Type</label>
                <md-select name="type" ng-model="driver.type" required>
                    <md-option value="standard">Standard</md-option>
                    <md-option value="express">Express</md-option>
                    <md-option value="overnight">Overnight</md-option>
                    <md-option value="dangerous">Dangerous Goods</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm ng-if="driver.type === 'dangerous'">
                <label>Dangerous Goods Type</label>
                <md-select name="type" ng-model="driver.dangerous" required>
                    <md-option value="none">No Dangerous Goods</md-option>
                    <md-option value="explosives">Explosives</md-option>
                    <md-option value="gases">Gases</md-option>
                    <md-option value="flammable">Flammable Substances</md-option>
                    <md-option value="oxidizing">Oxidizing Substances</md-option>
                    <md-option value="toxic">Toxic Substances</md-option>
                    <md-option value="corrosives">Corrosives</md-option>
                    <md-option value="misc">Miscellaneous</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Fragile</label>
                <md-select name="type" ng-model="driver.fragile" required>
                    <md-option value="no">No</md-option>
                    <md-option value="yes">Yes</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Payment Type</label>
                <md-select name="type" ng-model="driver.paymentType" required>
                    <md-option value="account">Account</md-option>
                    <md-option value="credit">Credit Card</md-option>
                    <md-option value="cash">Cash</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Pickup Date</label>
                <md-datepicker ng-model="driver.pickup.date" md-placeholder="Enter date" required></md-datepicker>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Pickup Time</label>
                <input type="time" ng-model="driver.pickup.time" placeholder="00:00 AM/PM" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>ETA</label>
                <md-datepicker ng-model="driver.eta" md-placeholder="Enter date" required></md-datepicker>
            </md-input-container>
        </div>

		<h3>Pick Up Address</h3>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Business Name</label>
                <input ng-model="driver.pickup.businessName">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Contact Name</label>
                <input ng-model="driver.pickup.contactName" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone</label>
                <input name="phone" ng-model="driver.pickup.phone" ng-pattern="/^[0-9]{4} [0-9]{3} [0-9]{3}$/" required>
                <div class="hint">#### ### ###</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input name="email" ng-model="driver.pickup.email" ng-pattern="/^.+@.+\..+$/" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Street Name and Number</label>
                <input name="text" ng-model="driver.pickup.street" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Suburb</label>
                <input name="text" ng-model="driver.pickup.suburb" required>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>State</label>
                <md-select name="type" ng-model="driver.pickup.state" required>
                    <md-option value="act">ACT</md-option>
                    <md-option value="new_south_wales">New South Wales</md-option>
                    <md-option value="queensland">Queensland</md-option>
                    <md-option value="victoria">Victoria</md-option>
                    <md-option value="south_australia">South Australia</md-option>
                    <md-option value="western_australia">Western Australia</md-option>
                    <md-option value="tasmania">Tasmania</md-option>
                    <md-option value="northern_territory">Northern Territory</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Post Code</label>
                <input name="postalCode" ng-model="driver.pickup.postCode" ng-pattern="/^[0-9]{4}$/" md-maxlength="4" required>
            </md-input-container>
        </div>

		<h3>Delivery Address</h3>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Business Name</label>
                <input ng-model="driver.delivery.businessName">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Contact Name</label>
                <input ng-model="driver.delivery.contactName" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone</label>
                <input name="phone" ng-model="driver.delivery.phone" ng-pattern="/^[0-9]{4} [0-9]{3} [0-9]{3}$/" required>
                <div class="hint">#### ### ###</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input name="email" ng-model="driver.delivery.email" ng-pattern="/^.+@.+\..+$/" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Street Name and Number</label>
                <input name="text" ng-model="driver.delivery.street" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Suburb</label>
                <input name="text" ng-model="driver.delivery.suburb" required>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>State</label>
                <md-select name="type" ng-model="driver.delivery.state" required>
                    <md-option value="act">ACT</md-option>
                    <md-option value="new_south_wales">New South Wales</md-option>
                    <md-option value="queensland">Queensland</md-option>
                    <md-option value="victoria">Victoria</md-option>
                    <md-option value="south_australia">South Australia</md-option>
                    <md-option value="western_australia">Western Australia</md-option>
                    <md-option value="tasmania">Tasmania</md-option>
                    <md-option value="northern_territory">Northern Territory</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Post Code</label>
                <input name="postalCode" ng-model="driver.delivery.postCode" ng-pattern="/^[0-9]{4}$/" md-maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Driver Comments</label>
                <textarea ng-model="driver.adminComments" md-maxlength="300" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm disabled>
                <label>Customer Comments</label>
                <textarea ng-model="driver.customerComments" md-maxlength="300" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        </div>


        <h3>Statuses:</h3>
        <table name="statuses" ng-model="driver.statuses">
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="status in driver.statuses">
                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="text" ng-model="status.date" disabled>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="text" ng-model="status.address" disabled>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="text" ng-model="status.status" disabled>
                    </md-input-container>
                </td>
            </tr>
        </table>
        <br>
		<h3>Packages:</h3>
		<table name="packages" ng-model="driver.packages">
			<tr>
				<th>Weight</th>
				<th>Length</th>
				<th>Width</th>
				<th>Height</th>
			</tr>
			<tr ng-repeat="package in driver.packages">
				<td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="number" ng-model="package.weight" required>
                    </md-input-container>
                </td>
				<td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="number" ng-model="package.length" required>
                    </md-input-container>
                </td>
				<td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="number" ng-model="package.width" required>
                    </md-input-container>
                </td>
				<td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="number" ng-model="package.height" required>
                    </md-input-container>
                </td>
			</tr>
		</table>
		<br>
		<input type="submit" value="Submit Changes">

	</form>
</md-content>