<!-- Access to this page only for logged in employees -->
<md-content layout-padding>
    <div layout="row" layout-align="center">
	    <h2>Update Consignment</h2>
    </div>

	<form flex name="$ctrl.searchForm" ng-submit="search()">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Consignment Number</label>
                <input name="number" ng-model="con_number" required>
            </md-input-container>
            <md-button class="md-raised" type="submit">Search</md-button>
        </div>
    </form>

    <form flex name="$ctrl.driverForm" ng-submit="submit()" ng-if="found">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Driver Comments</label>
                <textarea ng-model="driver.adminComments" md-maxlength="300" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        </div>

        <div>
            <md-button class="md-raised" type="submit">Update</md-button>
        </div>
	</form>
    <br><br><br>
    <form flex name="$ctrl.statusForm" ng-submit="submitStatus()" ng-if="found">
        <h2>Update Status</h2>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Booking Status</label>
                <md-select name="type" ng-model="status.status" required>
                    <md-option value="booked">Booked</md-option>
                    <md-option value="processed">Processed</md-option>
                    <md-option value="picked_up">Picked Up</md-option>
                    <md-option value="wh_in">Warehouse (Scanned In)</md-option>
                    <md-option value="wh_stored">Warehouse (Storage)</md-option>
                    <md-option value="wh_out">Warehouse (Scanned Out)</md-option>
                    <md-option value="delivered">Delivered</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Location</label>
		        <input type="text" ng-model="status.address" name="location" required>
            </md-input-container>
        </div>

        <div>
            <md-button class="md-raised" type="submit">Update Status</md-button>
        </div>
    </form>
</md-content>