<md-content layout-padding>
    <div flex-xs layout="column">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Frequently Asked Questions</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <b>Q</b>: Do you deliver Internationally?<br>
                <b>A</b>: No, On the Spots services are currently restricted to domestic locations within Australia
                <br><br>
                <b>Q</b>: What methods of payment are accepted?<br>
                <b>A</b>: On the Spot accepts: Cash, Eftpos, Direct Transfer and Cheque payments
                <br><br>
                <b>Q</b>: What if my package gets lost of damaged:<br>
                <b>A</b>: Please refer to section 3. Loss Prevention section of our Terms and Conditions webpage.
                <br><br>
                <b>Q</b>: How is are service costs calculated?<br>
                <b>A</b>: The costs of each delivery may vary, a number of factors are considered such as: service type, weight of package and pickup and delivery location.
                <br><br>
                <b>Q</b>: What if I want to cancel my delivery?<br>
                <b>A</b>: It is highly advised that you get into contact with On the Spot as soon as possible. Excess charge may be incurred depending on which stage of the delivery process your package is currently in.
                <br><br>
                For more information contact On the Spot directly to speak with a customer consultant.
            </md-card-content>
        </md-card>
    </div>
</md-content>