<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">What Makes us Great</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="static/public/img/pkg1.jpg" class="md-card-image">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>We ship anywhere in Australia quickly, and affordable.</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goServices()">Our Services</md-button>
                <md-button ng-click="goWhyUs()">Why us?</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Used us Before?</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="static/public/img/pkg3.jpg" class="md-card-image">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>We store all prior orders, for quick viewing!</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goOrders()">Order History</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Order a Package</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="static/public/img/pkg2.jpg" class="md-card-image">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>We have quick and easy package ordering and tracking.</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goBook()">Order</md-button>
                <md-button ng-click="goTrack()">Track</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Want to Know More?</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="static/public/img/pkg4.jpg" class="md-card-image">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>You can find out more on our About page, and Frequently asked Questions!</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goAbout()">About Us</md-button>
                <md-button ng-click="goFAQ()">FAQs</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>