	<div id="temphome">
		</br>
		<h1>On The Spot</h1>
		</br>
		<h2>Bill Wiley</h2>
		<h4>Owner/Operator</h4>
		</br>
		<div id="home-text">
		<p>Starting out with a single van Bill used his experience 
		from the logistics industry to create and build a courier business. 
		He now operates with two vans and a warehouse, providing a professional and 
		friendly service to clients from the Sunshine Coast to the Gold Coast. 
		Blah blah blah, omg such a good service, and Bill is just the best courier driver there is :D
		</p>
		<p>Starting out with a single van Bill used his experience 
		from the logistics industry to create and build a courier business. 
		He now operates with two vans and a warehouse, providing a professional and 
		friendly service to clients from the Sunshine Coast to the Gold Coast. 
		Blah blah blah, omg such a good service, and Bill is just the best courier driver there is :D
		</p>
		<p>Starting out with a single van Bill used his experience 
		from the logistics industry to create and build a courier business. 
		He now operates with two vans and a warehouse, providing a professional and 
		friendly service to clients from the Sunshine Coast to the Gold Coast. 
		Blah blah blah, omg such a good service, and Bill is just the best courier driver there is :D
		</p>
		</div>
	</div>