<md-toolbar md-whiteframe="1" ng-cloak>
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" show-md hide-gt-sm><md-icon>menu</md-icon></md-button>
		<div id="toolbar-nav">
			<md-button><a href="">Home</a></md-button><md-button><a href="">Make a Booking</a></md-button><md-button><a href="">Track a Parcel</a></md-button><md-button><a href="">Get a Quote</a></md-button><md-button><a href="">Services</a></md-button>
        </div>
		<md-menu>
            <md-button ng-click="$mdOpenMenu($event)"><md-icon>person</md-icon></md-button>
            <md-menu-content width="4">
                <md-menu-item ng-if="$ctrl.userLoggedIn() == false">
                    <md-button ng-click="$ctrl.goLogin()">
                        Login
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.userLoggedIn() == false">
                    <md-button ng-click="$ctrl.goRegister()">
                        Register
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.userLoggedIn() == true">
                    <md-button ng-click="$ctrl.logout()">
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
