<!-- This page should send an email to the admin, with the submitted data -->
<md-content layout-padding>
	<h2>Request a Quote</h2>
	<form action="" method="post">

		<h3>Account number (if available):</h3>
		<input type="number">

		<h3>Business Name</h3>
		<input type="text" name="quoteName" placeholder="Business name">
		<p>Contact</p>
		<input type="text" name="quoteContact" placeholder="Contact">
		<p>Phone</p>
		<input type="number" name="quotePhone" placeholder="Phone">
		<p>Email</p>
		<input type="email" name="quoteEmail" placeholder="user@email.com">

		<h3>Service Type</h3>
		<select name="service">
			<option value="standard">Standard</option>
			<option value="express">Express</option>
			<option value="overnight">Overnight</option>
			<option value="dangerous">Dangerous Goods</option>
		</select>

		<h3>Pickup Address</h3>

		<p>Street Number and Name</p>
		<input type="text" name="pickupStreet" placeholder="Street Number and Name">
		<p>Suburb</p>
		<input type="text" name="pickupSuburb" placeholder="Suburb">
		<p>State</p>
		<input type="text" name="pickupState" placeholder="State">
		<p>Post Code</p>
		<input type="number" name="pickupPostCode" placeholder="Post Code">

		<h3>Delivery Address</h3>

		<p>Street Number and Name</p>
		<input type="text" name="deliveryStreet" placeholder="Street Number and Name">
		<p>Suburb</p>
		<input type="text" name="deliverySuburb" placeholder="Suburb">
		<p>State</p>
		<input type="text" name="deliveryState" placeholder="State">
		<p>Post Code</p>
		<input type="number" name="deliveryPostcode" placeholder="Post Code">

		<h3>Dangerous Goods Type:</h3>
		<select name="dangerous">
			<option value="none">No Dangerous Goods</option>
			<option value="explosives">Explosives</option>
			<option value="gases">Gases</option>
			<option value="flammable">Flammable Substances</option>
			<option value="oxidizing">Oxidizing Substances</option>
			<option value="toxic">Toxic Substances</option>
			<option value="corrosives">Corrosives</option>
			<option value="misc">Miscellaneous</option>
		</select>

		<h3>Packages:</h3>
		<table name="packages">
			<tr>
				<th>Weight</th>
				<th>Length</th>
				<th>Width</th>
				<th>Height</th>
			</tr>
			<tr>
				<td><input type="number" name="pOneWeight"></td>
				<td><input type="number" name="pOneLength"></td>
				<td><input type="number" name="pOneWidth"></td>
				<td><input type="number" name="pOneHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pTwoWeight"></td>
				<td><input type="number" name="pTwoLength"></td>
				<td><input type="number" name="pTwoWidth"></td>
				<td><input type="number" name="pTwoHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pThreeWeight"></td>
				<td><input type="number" name="pThreeLength"></td>
				<td><input type="number" name="pThreeWidth"></td>
				<td><input type="number" name="pThreeHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pFourWeight"></td>
				<td><input type="number" name="pFourLength"></td>
				<td><input type="number" name="pFourWidth"></td>
				<td><input type="number" name="pFourHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pFiveWeight"></td>
				<td><input type="number" name="pFiveLength"></td>
				<td><input type="number" name="pFiveWidth"></td>
				<td><input type="number" name="pFiveHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pSixWeight"></td>
				<td><input type="number" name="pSixLength"></td>
				<td><input type="number" name="pSixWidth"></td>
				<td><input type="number" name="pSixHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pSevenWeight"></td>
				<td><input type="number" name="pSevenLength"></td>
				<td><input type="number" name="pSevenWidth"></td>
				<td><input type="number" name="pSevenHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pEightWeight"></td>
				<td><input type="number" name="pEightLength"></td>
				<td><input type="number" name="pEightWidth"></td>
				<td><input type="number" name="pEightHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pNineWeight"></td>
				<td><input type="number" name="pNineLength"></td>
				<td><input type="number" name="pNineWidth"></td>
				<td><input type="number" name="pNineHeight"></td>
			</tr>
			<tr>
				<td><input type="number" name="pTenWeight"></td>
				<td><input type="number" name="pTenLength"></td>
				<td><input type="number" name="pTenWidth"></td>
				<td><input type="number" name="pTenHeight"></td>
			</tr>
		</table>

		<input type="submit" value="Request a Quote">
	</form>
</md-content>