<md-content layout-padding>
    <h2>Our Services</h2>
    <br>
    <md-content layout-padding>
        <md-tabs>
            <md-tab md-active="true">
                <md-tab-label>
                    <md-icon> language</md-icon>
                    Domestic
                </md-tab-label>
                <md-tab-body>
                    <p>On The Spot can make deliveries anywhere in Australia,
                        so long as it's in between the Gold Coast and The
                        Sunshine Coast </p>
                </md-tab-body>
            </md-tab>
            <md-tab label>
                <md-tab-label>
                    <md-icon> schedule</md-icon>
                    Overnight
                </md-tab-label>
                <md-tab-body>
                    <p>This service is for when your package absolutely needs
                        to arrive the next morning. On The Spot connects land
                        and air services to provide a guaranteed next business
                        day delivery.</p>
                </md-tab-body>

            </md-tab>
            <md-tab label>
                <md-tab-label>
                    <md-icon> flight_land</md-icon>
                    Express
                </md-tab-label>
                <md-tab-body>
                    <p>This service is for when your package is urgently
                        required without needing next day delivery. On The Spot
                        guarantees delivery within 2 to 3 business days.</p>
                </md-tab-body>
            </md-tab>
            <md-tab label>
                <md-tab-label>
                    <md-icon> mailbox</md-icon>
                    Standard
                </md-tab-label>
                <md-tab-body>
                    <p>This service is for when your package is required within
                        a normal delivery timeframe. On The Spot guarantees
                        delivery within 3 to 5 business days.</p>
                </md-tab-body>
            </md-tab>
            <md-tab label>
                <md-tab-label>
                    <md-icon> report</md-icon>
                    Dangerous Goods
                </md-tab-label>
                <md-tab-body>
                    <p>This service is for when you'd like to send dangerous
                        goods with a small company that obviously cannot afford
                        to provide this expensive service. On The Spot sort of
                        guarantees delivery within 3 to 5 business days, since
                        we can't afford drivers with a dangerous goods license
                        it might not get there too. No Insurance!!!</p>
                </md-tab-body>
            </md-tab>
            <md-tab label>
                <md-tab-label>
                    <md-icon> work</md-icon>
                    Storage
                </md-tab-label>
                <md-tab-body>
                    <p>On The Spot provides short to medium term storage
                        options, with over 100 pallet spaces. Please contact
                        Bill for further details and pricing.</p>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>