<md-content layout-padding>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <md-title>
                    <span class="md-title">Our Services</span>
                </md-title>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-tabs>
                <md-tab label md-active="true">
                    <md-tab-label>
                        <md-icon> schedule</md-icon>
                        Overnight
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>For the most urgent packages</li>
                            <li>Next day delivery guarantee</li>
                        </ul>
                    </md-tab-body>

                </md-tab>
                <md-tab label>
                    <md-tab-label>
                        <md-icon> flight_land</md-icon>
                        Express
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>For urgent packages not requiring next day delivery</li>
                            <li>Guarantees delivery in 2 to 3 business days</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
                <md-tab label>
                    <md-tab-label>
                        <md-icon> mailbox</md-icon>
                        Standard
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>For the average package</li>
                            <li>Guarantees delivery in 3 to 5 business days</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
                <md-tab label>
                    <md-tab-label>
                        <md-icon> report</md-icon>
                        Dangerous Goods
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>For dangerous and fragile goods</li>
                            <li>Estimates 3 to 5 business days</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
                <md-tab label>
                    <md-tab-label>
                        <md-icon> work</md-icon>
                        Storage
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>For short to medium term storage</li>
                            <li>Contact us for details and pricing</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</md-content>