<md-content layout-padding>
    <div flex-xs layout="column">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Terms and Conditions</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <ol>
                    <li>
                        In regards to dangerous goods, we have the right to refuse service should we suspect that any package contains one or more of the following items listed below:
                        <br>Dangerous Goods Include:
                        <ul>
                            <li>Explosives</li>
                            <li>Gases (Aerosol)</li>
                            <li>Flammable Liquids and Solids</li>
                            <li>Oxidising Substances</li>
                            <li>Toxic Substances</li>
                            <li>Radioactive Material</li>
                            <li>Corrosive Substances</li>
                            <li>Miscellaneous Dangerous Goods</li>
                        </ul>
                    </li>
                    <li>
                        Delivery Driver
                        The Delivery Driver accepts no responsibility or liability as they are not a common carrier, hence delivery drivers may refuse service should there be a conflict in personal beliefs and or should they suspect their well being is in danger.
                    </li>
                    <li>
                        Loss Prevention
                        The delivery driver shall not be liable for the loss of or damage of the goods. Should it be identified, prior to the necessary investigations, that the loss of or damage of the goods was caused by On the Spot; the customer has the right to request a refund of the goods given that proof of purchase is provided.
                    </li>
                </ol>
            </md-card-content>
        </md-card>
    </div>
</md-content>