<!-- This page should only be available to customers that are logged in -->
<md-content layout-padding>
    <div layout="row" layout-align="center">
	    <h2>Track a consignment</h2>
    </div>
	<!-- search for consignment -->
	<form flex name="$ctrl.trackForm" ng-submit="submit()">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Consignment Number</label>
                <input name="number" ng-model="track.con_number" required>
            </md-input-container>
            <md-button class="md-raised" type="submit">Search</md-button>
        </div>

        <!-- display consignment details -->
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>ETA</label>
                <input name="text" ng-model="track.eta" disabled>
            </md-input-container>
        </div>

        <!-- Picked up, Warehouse, Delivered -->
        <table name="statuses" ng-model="track.statuses">
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="status in track.statuses">
                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="text" ng-model="status.date" disabled>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="text" ng-model="status.address" disabled>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input name="text" ng-model="status.status" disabled>
                    </md-input-container>
                </td>
            </tr>
        </table>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Pickup Address</label>
                <input name="text" ng-model="track.pickup_address" disabled>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Delivery Address</label>
                <input name="text" ng-model="track.delivery_address" disabled>
            </md-input-container>
        </div>
    </form>
</md-content>