<md-content layout-padding>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <md-title>
                    <span class="md-title">Why Choose Us?</span>
                </md-title>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-tabs>
                <md-tab md-active="true">
                    <md-tab-label>
                        <md-icon> language</md-icon>
                        Domestic
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>Deliver anywhere within Australia</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <md-icon> attach_money</md-icon>
                        Affordable
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>Lowest price guarantee on bulk shipments</li>
                            <li>Affordable singular shipments</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <md-icon> lock</md-icon>
                        Careful
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>We look after our packages</li>
                            <li>Safe delivery guarantee</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <md-icon> vibration</md-icon>
                        Informative
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li>Delivery notifications</li>
                        </ul>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</md-content>